@import "forkawesome/variables";
@import "forkawesome/path";
@import "forkawesome/core";
@import "forkawesome/larger";
@import "forkawesome/stacked";
@import "forkawesome/icons";

.social-stack {
	@extend .#{$fa-css-prefix};
	@extend .#{$fa-css-prefix}-stack;
	@extend .#{$fa-css-prefix}-lg;
	margin-left: 5px;
	margin-right: 5px;
}

.social-icon {
	@extend .#{$fa-css-prefix}-stack-1x;
	@extend .#{$fa-css-prefix}-inverse;
};

.social-circle {
	@extend .#{$fa-css-prefix}-circle;
	@extend .#{$fa-css-prefix}-stack-2x;
};
