/* --- Imports --- */
@import "_bulma/utilities/_all.sass";
@import "_bulma/base/_all.sass";
@import "_bulma/components/navbar.sass";
@import "_bulma/components/pagination.sass";
@import "_bulma/helpers/typography.sass";
@import "_bulma/grid/columns.sass";
@import "_bulma/layout/footer.sass";

@import "fonts.scss"
@import "icons.scss"
/* --- Variables --- */
$bg: lch(100 0 0);
$bg-grey: lch(95 0 0);
$bg-light-trans: lch(100 0 0 / 0.8);
$bg-dark-trans: lch(10 0 0 / 0.6);
$bg-dark: lch(10 0 0);
$text-color: lch(20 0 0);
$light-text-color: lch(60 0 0);
$lighter-text-color: lch(90 0 0);
$link: lch(50 50 280);
$hover-color: lch(50 50 230);
$border-color: lch(90 0 0);

$sans-font: 'FiraSans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu','Cantarell','Droid Sans','Helvetica Neue','Helvetica','Arial', sans-serif;
$serif-font: 'CharisSILW', 'Roboto Slab', 'DejaVu Serif', 'Garamond', 'Georgia', 'Times New Roman', serif;
$mono-font: 'FiraCode', monospace;

/* --- General --- */

body {
  font-family: $serif-font;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  color: $text-color;
  position: relative;
  background: $bg;
  margin: 0px;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    10fr
    min(80ch, calc(100% - 2vw))
    10fr
    1fr;
}

.wrapper > * {
  grid-column: 3;
}

.full-bleed {
  width: 100%;
  grid-column: 2 / -2;
}

a {
  color: $text-color;
  font-weight: 800;
}

p {
  line-height: 1.5;
  margin: 6px 0;
}

p + p {
  margin: 24px 0 6px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-font;
  font-weight: 800;
}

h1 {
  @extend .is-size-2;
}

h2 {
  @extend .is-size-3;
}

h3 {
  @extend .is-size-4;
}

a:hover,
a:focus {
  color: $hover-color;
}

/*blockquote {*/
  /*color: $text;*/
  /*font-style: italic;*/
/*}*/

/*blockquote p:first-child {*/
  /*margin-top: 0;*/
/*}*/

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

div.panel-body a.list-group-item {
  font-family: $sans-font;
  font-weight: 800;
  border-radius: 0;
  border: none;
}

div.panel-group .panel {
  border-radius: 0;
}

div.panel-group .panel + .panel {
  margin-top: 0;
}

div.panel-body a.list-group-item.view-all {
  font-weight: 600;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: $hover-color;
}

::selection {
  color: white;
  text-shadow: none;
  background: $hover-color;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

ul, ol
{
  padding-left: 3em;
}

ul {
  list-style: disc;
}

li.previous, li.next
{
  list-style: none;
}

/* --- Footnotes --- */
.footnote-definition p {
	display: inline;
}

/* --- Navbar --- */

.navigation {
  @extend .navbar;
  background: $bg-grey;
  border-bottom: 1px solid $border-color;
  font-family: $sans-font;
}

.navbar-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

a.navbar-item:hover,
a.navbar-item:focus,
.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  color: $hover-color;
}

/* Multi-level navigation links */
.has-dropdown .navbar-item::after {
  content: " \25BC";
}

.navbar-dropdown .navbar-item::after {
  content: "";
}

.navbar-dropdown, .navbar-menu {
  background-color: $bg-grey;
}

@media only screen and (max-width: 767px) {
  .navigation .nav .navlinks-container.show-children {
    background: $bg-grey;
  }

  .navigation .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }

}

@media only screen and (min-width: 768px) {
  .navbar-dropdown a:hover {
    background: $bg-grey;
  }
}

/* --- Footer --- */

footer {
  margin-top: 5vh;
  padding: 10vh 0;
  background: $bg-grey !important;
  border-top: 1px solid $border-color;
  font-size: 14px;
	text-align: center;
}

footer a {
  color: $text-color;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-family: $sans-font;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  footer {
    margin-top: 10vh;
    padding: 15vh 0;
  }

  footer .footer-links {
    font-size: 18px;
  }

  footer .copyright {
    font-size: 16px;
  }
}

/* --- Post preview --- */
.posts-list {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.post-preview {
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 20px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: $text-color;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: $hover-color;
}

.post-preview .post-title {
  font-size: 30px;
  margin-top: 0;
}

.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  @extend .is-size-4;
}

.post-preview .post-meta,
.heading .gallery-heading .post-meta {
  color: $text-color;
  font-size: 18px;
  margin: 0 5px 10px;
}

.post-preview .post-entry {
  font-family: $sans-font;
}

.post-entry-container {
  display: inline-block;
  width: 100%;
}

.post-entry {
  width: 100%;
  margin-top: 10px;
}

.post-image {
  float: right;
  height: 192px;
  width: 192px;
  margin-top: -35px;
  filter: grayscale(90%);
}

.post-image:hover {
  filter: grayscale(0%);
}

.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}

.post-preview .post-read-more {
  font-weight: 800;
  float: right;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/*--- Pagination ---*/
.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    color: $hover-color;
}
/* -- Post -- */

.heading .gallery-heading {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/* .blog-post { */
/*   max-width: 850px; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */

/* --- Tags --- */

.blog-tags {
  font-family: $sans-font;
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.blog-tags::before {
  color: $light-text-color;
  content: "Tags: ";
}

.blog-tags a {
  color: $link;
  text-decoration: none;
  padding: 0 5px;
}

.blog-tags a::before {
  content: "#";
}

.blog-tags a:hover {
  border-radius: 2px;
  color: $hover-color;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image,
  .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}

.tags-list {
	column-width: 10em;
	list-style-type: none;
}

/* --- Post and page headers --- */

header {
  margin: 40px 0 20px;
  position: relative;
}

header .page-heading,
header .tags-heading {
  text-align: center;
}

header .page-heading h1,
header .tags-heading h1 {
  @extend .is-size-1;
  margin-top: 0;
}

header .heading h1,
header .gallery-heading h1 {
  @extend .is-size-1;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  header .gallery-heading{
    text-align: center;
  }
}

/* --- Figure --- */
figure img {
  display: block;
  margin: auto;
}

figure div picture img {
  object-fit: contain;
}

figcaption {
  padding: 0 0.3rem;
  text-align: center;
}

figcaption h4 {
  font-family: $serif-font;
  font-size: 16px;
}

.post-preview-header-container {
  position: relative;
  height: 100%;
}

.post-preview-header {
  background: $bg-grey;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 756px) {
  .post-preview-header {
    background: $bg-light-trans;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.gallery {
	--row-height: 23vh;
	margin: -0.25rem;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: center;
	align-items: flex-end;
}

@media only screen and (max-height: 1044px) {
.gallery {
	--row-height: 290px;
}
}

.gallery .box {
	--ratio: calc(var(--w) / var(--h));
	flex-grow: calc(var(--ratio) * 100);
	flex-shrink: calc(var(--ratio) * 100);
	flex-basis: calc(var(--ratio) * var(--row-height));
	margin: 0.25rem;
}

.container-gallery .gallery .box {
	margin: 0.5rem;
}

.gallery .box > figure {
	display: block;
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.gallery + .box {
	margin-top: calc(0.5rem);
}

.gallery + .gallery {
	margin-top: calc(0.25rem);
}

.box + .gallery {
	margin-top: calc(0.25rem - 10px);
}

.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box figure {
	position: relative;
	overflow: hidden;
}

.box figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: $lighter-text-color;
	text-align: center;
	font-size: 75%;
	background: $bg-dark-trans;
	opacity: 1;
	cursor: pointer;
}

.gallery figure {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Post galleries */
.blog-post .gallery
{
  /* max-width: calc(750px + 0.5rem); */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* Portfolio Galleries*/
.gallery-container {
  margin-left: 20px;
  margin-right: 20px;
}

/* Video embed*/
.embed {
  margin-top: calc(0.5rem);
  margin-bottom: calc(0.5rem);
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.embed iframe {
  width: 100%;
  height: 100%;
  bottom: 0px;
  position: absolute;
}

/* Keyboard */
kbd {
  font-family: $mono-font;
  font-weight: 500;
  padding: 2px 4px;
  font-size: 90%;
  color: $lighter-text-color;
  background-color: $bg-dark;
  border-radius: 3px;
}

/* Code */
code, .highlight {
  font-family: $mono-font;
}

/* PTCG */
.ptcg-deck {
  display: grid;
  grid-template-columns:
    min(30ch, 100%)
    1fr;
  padding-bottom: 0.5em;
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
}

@media only screen and (max-width: 505px) {
  .ptcg-deck {
    grid-template-columns: 100%;
  }
}

.ptcg-deck > h1 {
  padding: 0 1vw;
  grid-column: 1 / -1;
  background-color: $bg-grey;
}

.ptcg-deck > h2 {
  padding: 0 1vw;
  grid-column: 1;
}

.ptcg-deck .ptcg-label {
  padding: 0 1.5vw;
  grid-column: 1;
	cursor: pointer;
}

.ptcg-deck .ptcg-label.selected {
  background-color: $bg-grey;
	cursor: default;
}

.ptcg-deck .ptcg-tab-content {
  grid-column: 2;
  grid-row: 2 / 50;
  padding: 0 1.5vw;
  display: none;
}

@media only screen and (max-width: 505px) {
  .ptcg-deck .ptcg-tab-content {
    grid-column: 1;
    grid-row: auto;
  }
}

.ptcg-deck .ptcg-tab-content.selected {
  display: block;
}

.ptcg-deck img {
  margin-top: 0.2em;
}

.ptcg-deck p + p {
  margin-top: 0.5em;
}

.ptcg-deck .type,
.ptcg-card .type {
  font-weight: 600;
  font-size: 0.9em;
}

.ptcg-deck .name ,
.ptcg-card .name {
  font-weight: 600;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.ptcg-deck .ability-tag,
.ptcg-card .ability-tag {
  font-weight: 600;
  font-style: italic;
  color: #bf1d18;
}

.ptcg-deck .ability-name,
.ptcg-card .ability-name {
  font-weight: 600;
  color: #bf1d18;
}

.ptcg-deck .attack > div:first-child,
.ptcg-card .attack > div:first-child {
  display: flex;
  justify-content: space-between;
}

.ptcg-deck .attack-cost,
.ptcg-card .attack-cost {
  font-weight: 600;
}

.ptcg-deck .attack-name,
.ptcg-card .attack-name {
  font-weight: 600;
}

.ptcg-deck .attack-damage,
.ptcg-card .attack-damage {
  font-weight: 800;
}

.ptcg-deck .rule,
.ptcg-card .rule {
  color: $light-text-color;
  font-style: italic;
  margin-left: 1.5em;
  padding: 0.1em 0.6em;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  border-radius: 6px;
}

.ptcg-card {
  display: grid;
  grid-template-columns:
    2fr
    3fr;
  padding-bottom: 0.5em;
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
}

.ptcg-card .card-info {
  padding-left: 1em;
  padding-right: 1em;
}

.ptcg-energy-icon {
  display: inline;
  height: 1em;
  margin: 0px !important;
  vertical-align: middle;
}

.ptcg-deck .rule > .rulebox-name,
.ptcg-card .rule > .rulebox-name {
  color: $text-color;
  font-weight: 600;
}

.ptcg-deck .vstar,
.ptcg-card .vstar {
  padding: 0.1em 0.6em;
  border-style: solid;
  border-width: 2px;
  border-color: #313e6e;
  border-radius: 6px;
}

.ptcg-deck .vstar > .vstar-tag,
.ptcg-card .vstar > .vstar-tag {
  color: #8f7a31;
  display: block;
  width:100%;
  text-align: center;
  font-weight: 600;
}

.ptcg-deck .acespec,
.ptcg-card .acespec {
  font-style: italic;
  margin-left: 1.5em;
  padding: 0.1em 0.6em;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-color: #00aeef;
  border-radius: 6px;
}

.ptcg-deck .acespec > .acespec-tag ,
.ptcg-card .acespec > .acespec-tag  {
  color: #ec008c;
  font-weight: 600;
}

.ptcg-deck .tera,
.ptcg-card .tera {
  font-style: italic;
  margin-left: 1.5em;
  padding: 0.1em 0.6em;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-color: #ec008c;
  border-radius: 6px;
}

.ptcg-deck .tera > .tera-tag ,
.ptcg-card .tera > .tera-tag  {
  color: #00aeef;
  font-weight: 600;
}

.ptcg-deck .bottom,
.ptcg-card .bottom {
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 1em;
  padding: 0.1em 0.6em;
  border-style: solid;
  border-width: 2px;
  border-color: $border-color;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
