<div class="embed video-player">
	<iframe sandbox="allow-same-origin allow-scripts allow-popups" src="{{ config.extra.peertube_host}}/videos/embed/{{ id }}" frameborder="0" allowfullscreen>
  </iframe>
</div>
