{% extends "base.html" %}

{%block title %}
<title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{%block seo %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ config.base_url }}",
          "name": "home"
        }
    },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ page.permalink }}",
          "name": "{{ page.title }}"
        }
    }]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "author": {
    "name" : "{{ config.extra.author }}"
  },
  "headline": "{{ page.title }}",
	"description" : "{% if page.description %}{{ page.description | striptags }}{% elif page.summary %}{{ page.summary | striptags  }}{% else %}{{ page.content | striptags | truncate(length=250)}}{% endif %}",
  "inLanguage" : "{{ lang }}",
  "wordCount": {{ page.word_count }},
  "datePublished" : "{{ page.date | date(format="%Y-%m-%d") }}",
{% if page.updated %}
  "dateModified" : "{{ page.updated | date(format="%Y-%m-%dT") }}",
{% endif %}
  "image" : "{{ get_url(path=page.extra.image) }}",
{% if page.taxonomies.t %}
	"keywords" : [ "{{ page.taxonomies.t }}" ],
{% endif %}
  "mainEntityOfPage" : "{{ page.permalink }}",
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ config.base_url }}",
    "logo" : {
        "@type" : "ImageObject",
        "url" : "{{ get_url(path=config.extra.logo) }}",
        "height" :  60 ,
        "width" :  60
    }
  }
}
</script>
{% endblock seo%}

{%block header %}
<div class="gallery-heading">
	<h1>{{ page.title }}</h1>
</div>
{% endblock header%}

{% block main %}
<div role="main" class="gallery-container">
	{{ page.content | safe }}
</div>
{% endblock main %}
