{% extends "base.html" %}

{%block title %}
<title>{{ section.title }} - {{ config.title }}</title>
{% endblock title %}

{%block seo %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ config.base_url }}",
          "name": "home"
        }
    },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ section.permalink }}",
          "name": "{{ section.title }}"
        }
    }]
}
</script>
{% endblock seo%}

{%block header %}
<div class="heading">
	<h1>{{ section.title }}</h1>
</div>
{% endblock header%}

{% block main %}
<article role="main" class="blog-post wrapper">
	{{ section.content | safe }}
</article>
{% endblock main %}
