{% extends "base.html" %}

{%block title %}
<title>{% if taxonomy.name == "t" %}Tags{% else %}{{ taxonomy.name }}{% endif %} - {{ config.title }}</title>
{% endblock title %}

{%block seo %}
{% endblock seo%}

{%block header %}
<div class="page-heading">
	<h1>{% if taxonomy.name == "t" %}Tags{% else %}{{ taxonomy.name }}{% endif %}</h1>
</div>
{% endblock header%}

{% block main %}
<ul class="tags-list">
	{% for term in terms %}
	<li class="tag-title">
			<h3><a href="{{ term.permalink }}">{{ term.name }}</a></h3>
	</li>
	{% endfor %}
</ul>
{% endblock main %}
